{% extends "event/base.html" %}
{% load cms_tags %}

{% block title %}Evènements{% endblock title %}

{% block event_content %}
  <div class="container-fluid">
    <h1>Evenements</h1>
    <span>Salut {{ user }}</span>
  </div>

  <h3>Aucun evenement.</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui voluptatum aspernatur exercitationem possimus dolore magni doloremque minima quia velit, atque dolores ab fugit, placeat praesentium, fuga neque esse dolorum aliquam.
    Molestiae officia quibusdam esse impedit nihil cumque? Nulla, illo animi! Expedita error, quo aperiam dolor voluptate odio exercitationem? Nobis optio incidunt quos cumque enim doloremque dicta corporis blanditiis, suscipit quasi!
    Hic saepe ab suscipit! Dolores quo eveniet adipisci amet magni, maxime quibusdam nemo, iure nobis pariatur ratione, modi repudiandae at molestiae nostrum vero. Earum numquam vero dolorum officia sed? Magni?
  </p>

{% endblock event_content %}